.container {
    margin-right: auto;
    margin-left: auto;
    padding: 0 50px;
}

/* .contentWrapper {
    height: calc(100vh - 116px);
    margin-top: 50px;
} */

.imageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 116px);
}

.image {
    width: 90%;
    object-fit: contain;
}